.ac-game-settings {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background.jfif");
    background-size :100% 100%;
    user-select: none;
}

.ac-game-settings-login {
    height: 44vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(50, 60, 80, 0.7);
    border-radius: 5px;
}

.ac-game-settings-username {
    display: block;
    height: 7vh;
}

.ac-game-settings-password {
    display: block;
    height: 7vh;
}

.ac-game-settings-submit {
    display: block;
    height: 7vh;
}


.ac-game-settings-item {
    width: 100%;
    height: 100%;
}

.ac-game-settings-item > input {
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ac-game-settings-item > button {
    color: white;
    width: 90%;
    line-height: 3vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    border-radius: 5px;
}

.ac-game-settings-error-message {
    color: red;
    font-size: 1.8vh;
    display: inline;
    float: left;
    padding-left: 1vw;
}

.ac-game-settings-option {
    color: white;
    font-size: 2vh;
    display: inline;
    float: right;
    padding-right: 1vw;
    cursor: pointer;
}

.ac-game-settings-title {
    color: white;
    font-size: 3vh;
    text-align: center;
    height: 7vh;
    padding-top: 2vh;
    margin-bottom: 2vh;
}


.ac-game-settings-third-party {
    display: flex;          /* 弹性布局，子元素同行 */
    justify-content: center;/* 水平居中 */
    align-items: center;    /* 垂直居中 */
    padding: 1vh 0;         /* 上下内边距，避免贴边 */
}

.ac-game-settings-github {
    display: flex;          /* 内部图标+文字垂直排列 */
    flex-direction: column; /* 列布局：图标在上，文字在下 */
    align-items: center;    /* 水平居中 */
    width: 12vw;            /* 固定宽度，保证对齐 */
}
.ac-game-settings-github > img {
    width: 30px;
    height: 30px;
    margin-bottom: 0.5vh;   /* 图标和文字间距 */
    transition: all 0.2s ease;
    cursor: pointer;        /* 整个区域可点击 */
}
.ac-game-settings-github > img:hover {
    transform: scale(1.1);  /* 悬浮放大 */
}
.ac-game-settings-github > div {
    font-size: 1.5vh;
    color: white;
    text-align: center;
}

/* 微信登录样式（和 GitHub 完全对齐） */
.ac-game-settings-wechat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 12vw;            /* 和 GitHub 同宽度，视觉对称 */
}
.ac-game-settings-wechat > img {
    width: 30px;
    height: 30px;
    margin-bottom: 0.5vh;
    transition: all 0.2s ease;
    cursor: pointer;
}
.ac-game-settings-wechat > img:hover {
    transform: scale(1.1);
}
.ac-game-settings-wechat > div {
    font-size: 1.5vh;
    color: white;
    text-align: center;
}


.ac-game-settings-register {
    height: 52vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(50, 60, 80, 0.7);
    border-radius: 5px;
}


.ac-game-menu {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/background.jfif");
    background-size :100% 100%;
    user-select: none;
}
.ac-game-menu-field {
    width: 20vh;
    position: relative;
    top: 40%;
    left: 19%;
}

.ac-game-menu-field-item {
    color: white;
    height: 7vh;
    width: 18vw;
    font-size: 6vh;
    font-style: italic;
    padding: 2vh;
    cursor: pointer;
    text-align: center;
    background-color: rgba(39, 21, 28, 0.6);
    border-radius: 10px;
    letter-spacing: 0.5vw;
}

.ac-game-menu-field-item:hover {
    transform: scale(1.2);
    transition: 100ms;
}

.ac-game-playground {
    width: 100%;
    height: 100%;
    user-select: none;
    background-color: grey;
}

.ac-game-playground > canvas {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
